<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="px-8 py-6 mt-4 text-left bg-white shadow-lg">
    <h1>Order no. <%= @order.id %></h1>
    <h2>Order of : <%= @order.user.username %></h2>
    <h2>Created at : <%= @order.created_at %></h2>
    <div class="grid grid-cols-4 gap-4">
      <% @order.order_products.each do |op| %>
        <div class="mx-3 p-6 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700 my-5">
          <h1>Product Name: <%= op.product.name %></h1>
          <%= image_tag(op.product.product_picture, alt: "rss feed", height: 600, width: 600) %>
          <h1>SubTotal: <%= op.subtotal %></h1>
        </div>
      <% end %>
      <br>
    </div>
    <h1>Total: <%= @order.total %></h1>
    <h1>Order Status: <%= @order.status %></h1>
</div>
