<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="px-8 py-6 mt-4 text-left bg-white shadow-lg">
    <h1>Name: <%= @product.name %></h1>
    <h1>Detail: <%= @product.description %></h1>
    <h1>Price: <%= @product.price %></h1>
    <h1>Created By: <%= @product.user.username %></h1>
    <h1>Created at: <%= @product.created_at %></h1>
    <h1><%= image_tag(@product.product_picture, alt: "rss feed", height: 600, width: 600) %></h1>
  </div> 
</div>
