<nav class="p-5 bg-white shadow md:flex md:items-center md:justify-between">
  <div>
    <span class="text-2xl font-[Poppins] cursor-pointer">
      <%= image_tag 'Logo.png' , class: 'h-20 inline'%>
      <%= link_to "Locker Application", root_path %>
    </span>
  </div>

  <ul class="md:flex md:items-center z-[-1] md:z-auto md:static">
    <li class="mx-5 my-6 md:my-0">
      <%= link_to "Home", root_path, class: 'text-xl hover:text-cyan-500 duration-500' %>
    </li>
    <li class="mx-5 my-6 md:my-0">
      <%= link_to "About", root_path, class: 'text-xl hover:text-cyan-500 duration-500' %>
    </li>
    <li class="mx-5 my-6 md:my-0">
      <%= link_to "Locker's", root_path, class: 'text-xl hover:text-cyan-500 duration-500' %>
    </li>
    <% if user_signed_in? %>
      <% if current_user.buyer? %>
        <li class="mx-5 my-6 md:my-0">
        <i class="fa-solid fa-cart-shopping"> </i> <%= link_to 'Cart', cart_path %>
        </li>
      <% elsif current_user.admin? %>
        <li class="mx-5 my-6 md:my-0">
          <%= link_to "Orders", orders_path, class: 'text-xl hover:text-cyan-500 duration-500' %>
        </li>
      <% end %>
      <li class="mx-5 my-6 md:my-0">
        <i class="fa-solid fa-user"></i> <%= link_to current_user.username, profile_path(current_user) %>
      </li>
    <% else %>
      <%= link_to "Login", new_user_session_path, class: 'px-6 py-2 mt-4 text-white bg-blue-600 rounded-lg hover:bg-blue-900' %>
      <%= link_to "Signup", new_user_registration_path, class: 'mx-3 px-6 py-2 mt-4 text-white bg-blue-600 rounded-lg hover:bg-blue-900' %>
    <% end %>
  </ul>
</nav>
